
.wrapper{
    min-width: 200px;
    max-width: 350px;
    background: #f4f4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
}
.imgWrapper{
    width:100%;
    height: 224px;
}
.imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    display: grid;
    grid-gap:10px;
    padding: 10px;
}
.content .btn{
    width: 200px;
    margin: 5% 0 5% 20%;
    height: 4vh;
    background-color: skyblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.content .danger{
    background: red;
    width: 200px;
    margin: 5% 0 5% 20%;
    height: 4vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}