*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.last{
    text-align: center;
    text-shadow: greenyellow 1px 0 10px;
    margin-top: 2%;
    color: black;
}
.adOne img{
    width: 16%;
    margin:5% 0 0 5%;
}
.adOne p{
    margin:2% 0 0 5%;
}
.adOne button{
    margin:2% 0 0 8%;
    width: 10%;
    height: 25px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: greenyellow;
}